    

.card-wrapper{
    max-width: 1200px;
    margin:auto; 
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}
.swiper-wrapper{
    margin-bottom: 30px;
}
.card-list .card-item .card-link{
    user-select: none;
    display: block;
    height: 565px;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #72dadf;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;

}
.swiper-button-next:before, .swiper-button-prev:before {
    font-size: 15px !important;
  
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border-color:  #007c97;
}

.card-list .card-link .card-image{
    width: 100%;
  
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #009dc1;
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 0.95rem;
    background: #c3f4ff;
    width: fit-content;
    border-radius: 50px;
}
.spanName{
    font-size: 13px;
}
.card-list .card-link .card-title{
    font-size: 16px;
    color: #000;
    font-weight: 100;
    overflow:auto;
    height: 120px;
    
}
::-webkit-scrollbar {
    width: 0;
}
.card-list .card-link .card-button{
   display: block;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border:none;
   
}
a{
    text-decoration: none !important;
}

.card-list .card-link:hover .card-button{

   
}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #009dc1;;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: #009dc1;
    margin-top: -35px;
   
   
} 

@media screen and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}